{% extends 'release_notes/base.html' %}

{% load release_notes %}

{% block release_notes_extra_head %}
	{% release_notes_feed %}

	<style type="text/css">
		/* Page Specific */
		.release-note {
			border-bottom: 1px solid #ccc;
			margin-bottom: 14px;
		}
		.row:last-child .release-note {
			border-bottom: 0;
		}
	</style>
{% endblock %}

{% block release_notes_body_header %}
	<div class="text-center m-t-lg m-b-lg">
		<h1 class="font-light">Release Notes</h1>
		{% if page_description %}
			<p>{{ page_description }}</p>
		{% endif %}
	</div>
{% endblock %}

{% block release_notes_body %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% for release_note in release_notes %}
					<div class="row">
						{% ifchanged %}
							<div class="col-sm-3 text-upper text-small m-t-sm">
								{{ release_note.release_date }}
							</div>
						{% endifchanged %}
						<div class="col-sm-9 {% ifchanged release_note.release_date %}{% else %}col-sm-offset-3{% endifchanged %}">
							<div class="release-note">
								<p class="m-b-sm font-light" style="font-size: 18px;">
									<i style="font-size: 14px;" class="fa fa-{{ release_note.client.icon }}"></i>
									{{ release_note.client.name }}
									{% if release_note.version %} &middot; {{ release_note.version }}{% endif %}
								</p>
								<p style="white-space: pre-wrap;">{{ release_note.notes }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
